<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Pantalla responsiva -->

<!--@include media-breakpoint-up(sm) { ... } -->
<!--@include media-breakpoint-up(md) { ... } -->
<!--@include media-breakpoint-up(lg) { ... } -->
<!--@include media-breakpoint-up(xl) { ... } -->

<!--// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint -->
<!--.custom-class {
display: none;
}
@include media-breakpoint-up(sm) {
.custom-class {
display: block;
}
} -->

<!-- Pantalla responsiva según dispositivo utilizado -->




<!-- Extra small devices (portrait phones, less than 576px)-->
<!--@media (max-width: 575.98px) { ... }-->

<!--Small devices (landscape phones, 576px and up)-->
<!--@media (min-width: 576px) and (max-width: 767.98px) { ... }-->

<!-- Medium devices (tablets, 768px and up)-->
<!--@media (min-width: 768px) and (max-width: 991.98px) { ... }-->

<!--Large devices (desktops, 992px and up)-->
<!--@media (min-width: 992px) and (max-width: 1199.98px) { ... }-->

<!-- Extra large devices (large desktops, 1200px and up)-->
<!--@media (min-width: 1200px) { ... }-->





<!DOCTYPE html>
<html>

<head>
  <title>App dianóstico probable</title>
  <meta charset="utf-8">
</head>

<body>
  <h1>APLICACIÓN DIAGNÓSTICO PROBABLE</h1>
  <p> Por favor ingrese su correo electrónico y su contraseña para poder acceder a la aplicación. Si tiene
    inconvenientes para ingresar, remita su solicitud al correo electrónico: soporte_diagnóstico_probable@gmail.com</p>
  <ul>
    <li><a href="_RESUMEN_APP.html">INFORMACIÓN DE LA APLICACIÓN</a></li>


    <li><a href="_NUEVO_USUARIO.html">¿ PRIMERA VEZ POR AQUÍ ?  REGÍSTRECE</a></li>


    <li><a href="_DIAGNOSTIC_APP.html">ENGLISH VERSION. CLICK HERE</a></li>


  </ul>

  <!---->
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Correo electrónico </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted"> Recuerde digitar su correo electrónico autorizado.</small>
    </div>
    <div class="form-group">


      <label for="exampleInputPassword1">Contraseña </label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Recordarme</label>
    </div>
    <button type="submit" class="btn btn-primary">ACCEDER </button>
  </form>


  <!-- -->

  
      
    <p> &nbsp; </p> <!-- Espaciamiento mayor-->
    
    
    <p> Especialidades médicas disponibles:  </p>

    <p>  </p> <!-- pequeño espaciamiento -->

  <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Especialidad</th> 
          <th scope="col">Porcentaje de desarrollo</th>
          <th scope="col">Fecha de lanzamiento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Dermatología</td>
          <td>------50%------</td>
          <td>Octubre 14/2019</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Pediatría</td>
          <td>------45%------</td>
          <td>Diciembre 30/2019</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Ortopedia</td>
          <td>------25%------</td>
          <td>Enero 07/2020</td>
        </tr>
      </tbody>
    </table>




</body>





</html>



<router-outlet></router-outlet>